@import 'lib/breakpoints/breakpoints.vars';

.dialog__close-button {
  position: absolute;
  top: 14px;
  right: 14px;
  box-sizing: content-box;
  width: 12px;
  height: 12px;
  padding: 8px;

  &:focus,
  &:hover {
    opacity: 0.6;
  }

  @media (min-width: $tablet-portrait) {
    top: 20px;
    right: 15px;
    width: 18px;
    height: 18px;
  }
}
