@import 'lib/breakpoints/breakpoints.vars';

.dialog__window {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  padding: 32px 16px 16px;
  background-color: #fff;

  @media (min-width: $tablet-portrait) {
    flex-grow: 0;
    max-width: 454px;
    height: auto;
    padding: 32px;
    border-radius: 30px;
  }

  @media (min-width: $desktop) {
    max-width: 552px;
  }
}
