@import 'lib/colors/colors.vars';

.button_theme_outline {
  color: $button-outline_text-color;
  background-color: $button-outline_background-color;
  border-radius: 6px;
  box-shadow: 0 0 0 1px $button-outline_border-color;
  transition: background-color 0.2s, color 0.2s;

  &:focus,
  &:hover {
    color: $button-outline_text-color_hover;
    background-color: $button-outline_background-color_hover;
  }

  &.button_disabled {
    color: $button-outline_text-color_disabled;
    background-color: $button-outline_background-color_disabled;
  }
}
