@import 'lib/colors/colors.vars';
@import 'lib/breakpoints/breakpoints.vars';

.dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  overflow: auto;

  @media (min-width: $tablet-portrait) {
    align-items: center;
    padding-top: 120px;
  }
}
