@import 'lib/colors/colors.vars';
@import 'lib/breakpoints/breakpoints.vars';

.radio-group__caption {
  margin-bottom: 24px;
  color: $color_primary-text;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $tablet-portrait) {
    margin-right: 76px;
    margin-bottom: 0;
  }
}
