@import 'lib/colors/colors.vars';

.button_theme_primary {
  color: $button-primary_text-color;
  background-color: $button-primary_background-color;
  background-image: linear-gradient(255.35deg, #dc3131 0.83%, rgba(255, 79, 79, 0%) 108.93%);
  border-radius: 6px;
  box-shadow: 0 0 24px rgba($red, 0.33);
  transition: background-color 0.2s, color 0.2s;

  &:focus,
  &:hover {
    background-color: $button-primary_background-color_hover;
    background-image: none;
  }

  &.button_disabled {
    background-color: $button-primary_background-color_disabled;
    background-image: none;
    box-shadow: none;
  }
}
